<h1 class="text-center styleFoont">Seleccionar Productos</h1>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <h3 class="text-center styleFoont">Productos</h3>
    <ul class="styleFoont">
      <li *ngFor="let item of productos; let i = index">
        {{ item.producto }} ${{ item.precio }}
        <pre>{{ item.descripcion }} </pre><button class="btn btn-outline-danger mx-2" [disabled]="noUser"><i class="bi bi-heart-fill  mx-2" (click)="seleccionarFavorito(i)"></i></button>
        <button class="btn btn-outline-success mx-2" (click)="seleccionar(i)" [disabled]="userADM">
          <i class="bi bi-bag-plus-fill"></i>
        </button>
      </li>
    </ul>
    

 
    
  </div>
  <div class="col-sm-12 col-md-6">
    <h2 class="text-center styleFoont">Total a Pagar</h2>
    <hr />
    <ul class="styleFoont">
      <li *ngFor="let itemSeleccionado of productoSeleccionado">
        <h5>{{ itemSeleccionado }}</h5>
      </li>
    </ul>
    <div>

      <h2 class="text-center styleFoont">
       {{descuentoObtenido?'Total con Descuento %10':'Total'}} :
        <span class="badge text-bg-success"
          ><i class="bi bi-currency-dollar"></i>{{ total }}</span
        >
        
        
      </h2>
    </div>
    <div class="alert alert-warning" role="alert" *ngIf="mostrarAlert">
      Registrate o Ingresa para Obtener 10% de descuento!
    </div>
    <button
      class="btn btn-outline-success"
      (click)="pagar()"
      [disabled]="Noseleccionado"
    >
      <i class="bi bi-credit-card-2-back-fill"></i>PAGAR
    </button>
  </div>
</div>
