 
 
 <h2 class="text-center">Seleccionar Productos</h2>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="dropdown ">
            <button class="btn btn-primary dropdown-toggle w-75" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              FILTRAR
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
          <hr>
          <h5>Productos</h5>
          <ul>
            <li>Cafe Irlandes $ 550<pre>Cafe con whiskhy y crema </pre></li> <button class="btn btn-primary">Seleccionar</button>
            <li>Cafe Irlandes <pre>Cafe con whiskhy y crema </pre></li> <button class="btn btn-primary">Seleccionar</button>
            <li>Cafe Irlandes <pre>Cafe con whiskhy y crema </pre></li> <button class="btn btn-primary">Seleccionar</button>
            <li>Cafe Irlandes <pre>Cafe con whiskhy y crema </pre></li> <button class="btn btn-primary">Seleccionar</button>
            
          </ul>
    </div>
    <div class="col-sm-12 col-md-6">
        <h4 class="text-center">Total a Pagar</h4>  
        <hr>
        <ul>
            <li>.</li>
            <li>.</li>
        </ul>
        <h5>Total : $550</h5>
        <button class="btn btn-primary">PAGAR</button>

    </div>
</div>