<div id="carouselCoffe" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselCoffe"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselCoffe"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselCoffe"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="../../../assets/carrousel/1.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../../assets/carrousel/2.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../../assets/carrousel/3.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselCoffe"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselCoffe"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<hr />
<div class="row d-flex justify-content-center">
  <div class="col-sm-12 col-md-6 " >
    <img src="../../../assets/0dwufo.jpg" alt="" class="w-100" />
  </div>
  <div class="col-sm-12 col-md-6 styleFoont text-white">
    <h3 class="text-center">Nuestro Cafe </h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni vel nostrum
        maxime id, cupiditate obcaecati cumque eum. Nesciunt molestiae reprehenderit
        quis quam dignissimos eum sequi natus, vel minus optio tenetur iure sit
        corrupti excepturi rem sapiente officia quidem, sunt aperiam quos numquam.
        Voluptatum, qui exercitationem voluptates aliquid doloribus fugit laborum
        alias ex deserunt, officia aspernatur eos facilis, dignissimos ratione
        eligendi unde esse eum nobis voluptatibus. Magni, hic consectetur a quod
        suscipit mollitia et soluta enim? Necessitatibus magnam a temporibus? Sed
        accusantium quam eos in quae sit incidunt architecto tenetur iusto atque
        optio doloribus aliquam at quis nemo itaque vel aliquid soluta, deserunt
        laborum magni error? Unde nulla deleniti corporis a? Deserunt sint
        reiciendis atque totam iste beatae necessitatibus fuga sequi dolor minus?
        Tempore provident est mollitia. Repellat at optio doloremque. Ea accusamus
        amet repellat praesentium nihil. Odit minima id quisquam magnam sint, odio
        sunt fuga aut commodi blanditiis? Molestias voluptatum voluptate sapiente,
        et velit nulla, ducimus alias voluptatem, voluptates optio dolorum nobis.
        Laboriosam blanditiis, fuga eligendi officia est optio repellendus illo
        error. Placeat pariatur quaerat beatae ipsa fuga voluptatum ducimus ipsum
        tenetur, aspernatur error voluptas quae et officia quam, ad dolorum quidem
        nostrum sapiente, commodi cupiditate a voluptate porro dolor?</p>
  </div>
</div>
<hr />
<app-footer></app-footer>
