 <a href="" class="text-center nav-link"><h1>Smile Cafeteria</h1></a>
<nav class=" navbar navbar-expand-lg  bg-body-tertiary">
 
  <div class="container-fluid">
    <img src="../../../assets/logo-smile-coffee-sobre-negro-200x200-1.png" alt="logoNav" class="logoNav" >
  
    
    
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-light">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href=""><h4>Home</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productos"><h4>Catalogo</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/registrarse"*ngIf="logUserLocal==''"><h4>Registrarse</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/misCompras" *ngIf="logUserLocal=='user'"><h4>Compras</h4></a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/favoritos" *ngIf="logUserLocal=='user'"><h4>Favoritos</h4></a>
        </li>
        <li class="nav-item"*ngIf="logAdmin===true">
          <a class="nav-link" routerLink="/agregar" ><h4>Mod Catalogo</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" *ngIf="logUserLocal==''"><h4>Ingresar</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  (click)="logout()"*ngIf="logOut=='logout'"><h4>{{userNav}} Cerrar Seccion</h4></a>
        </li>
       
      </ul>
     
    </div>
  </div>
</nav>