<div class="bg-dark text-white">
  <div class="row">
    <div class="col-sm-12 col-md-4 styleFoont">
      <h2>Coffee Shop</h2>
      <p>
        Tea Is Good For The Mind, Body And Soul. If Its Tea You re Looking For,
        We Are The Place To Be. Our Tea Is So Good You Will Want To Drink It
        Everyday
      </p>
    </div>

    <div class="col-sm-12 col-md-4 styleFoont">
      <h2>Horarios</h2>
      <h3>Lunes - Viernes</h3>
      <p>8AM - 20PM</p>
      <h3>Sabados - Domingos</h3>
      <p>10AM - 20PM</p>
    </div>
    <div class="col-sm-12 col-md-4 styleFoont">
      <h2>Info Contacto</h2>
      <i class="fa-sharp fa-solid fa-phone"></i>

      <i class="bi bi-telephone"> <p>+111 123456</p></i>

      <i class="bi bi-whatsapp fs-4"></i>
      <p>+111 123456</p>
      <i class="bi bi-instagram"><p>@coffeShop</p></i>
      
    </div>
  </div>
  <hr />
  <p class="text-center styleFoont">&copy; Todos los Derechos Reservados</p>
</div>
